html {
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
    background-image: linear-gradient(to bottom, cornflowerblue, white);
}


#title {
    font-size: 4em;
    font-weight: 100;
    color: #020b43;
    padding: 2%;
}

#timer {
    font-size: 5em;
    font-weight: 100;
    padding: 2%;
}

#timer div {
    display: inline-block;
    padding: 15px;
    border-radius: 1%;
    margin: 15px;
}

.button {
    font-size: 4em;
    font-weight: 100;
    background: aliceblue;
    color: blue;
    display: inline;
    padding: 2%;
    border-radius: 1%;
    margin: 2%;
    cursor: pointer;
}

#startButton {
    background-color: cornflowerblue;
    border: 2px solid #030d52;
    color: white;
}

span {
    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-size: .35em;
    font-weight: 400;
}

div {
    display: flex;
    flex-direction: column;
}

/* Pattern styles */
.container {
    display: flex;
}

.left-half {
    flex: 1;
    padding: 1rem;
}

.right-half {
    flex: 1;
    padding: 1rem;
}
